#friend_box {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    margin: 0px;
    text-align: left;
}

#friend_box h2,
#friend_box h3,
#friend_box p,
#friend_box li {
    color: #333;
}

#friend_box h3 {
    line-height: 1;
}

#friend_box p {
    font-size: 16px;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.card-top {
    display: flex;
    padding: 20px;
    border-bottom: 2px solid rgb(204, 204, 204);
    margin-bottom: 20px;
    height: 360px;
}

.pet-image {
    width: 150px;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 20px;
}

.card-top h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.medical-info {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.card-bottom {
    gap: 20px;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px 20px 20px;
    border-bottom: 2px solid rgb(204, 204, 204);
    margin-bottom: 20px;
}

.card-bottom p {
    max-height: 160px;
    overflow: scroll;
}

.card-contact {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.welcome_container {
    width: auto;
    place-items: center;
}

#welcome_box {
    display: flex;
    flex-direction: column;
}

.search_bar {
    margin: 10px;
    display: flex;
    flex-direction: column;
    place-items: center;
}

#search_bar_id {
    padding: 10px;
    width: 50%;
    font-size: 18px;
    border-radius: 15px;
}

.card {
    transition: opacity 1s ease
}

.card_fade_out {
    opacity: 0;
}

.card_hidden {
    display: none;
}

label[for="search_bar_id"] {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-top: clamp(20px, 10vw, 30px);
}


@media (min-width: 768px) {
    #friend_box {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1175px) {
    #friend_box {
        grid-template-columns: repeat(3, 1fr);
    }
}
